<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mo.klibs">
    <uses-permission android:name="android.permission.INSTALL_SHORTCUT" />
    <!-- <&#45;&#45;!向SD卡写入数据的权限-&ndash;&gt; -->
    <uses-permission android:name="androd.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- <&#45;&#45;!读取数据的权限-&ndash;&gt; -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="mo.klib.KApplication"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <service
            android:name=".TimeService"
            android:persistent="true"
            android:process=":remote">
            <intent-filter android:priority="1000">
                <action android:name="myservice2" />
            </intent-filter>
        </service>
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>